@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Coming+Soon&family=Proza+Libre&display=swap');
.main-title,
.main-para {
    color: #000000d0
}

.main-title {
    padding-top: 10rem;
    font-size: 4rem;
    font-family: 'Fascinate', cursive;
    text-transform: uppercase
}

.main-para {
    font-size: 2.3rem;
}
#btns{
    background-color: rgba(29, 59, 22, 0.5);
    opacity:0.9;
}
#btns span  {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color:white;
    
}

#btns span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    
}

#btns:hover span{
  padding-right: 25px;
  
}
#btns:hover{
    background:rgba(38, 235, 65, 0.5);
    transition:all .9s;
}

#btns:hover span:after {
  opacity: 1;
  right: 0;
}

  .primary-buttons {
    margin-top: 2rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize;
    border-radius:19px;
    box-shadow: 0 2px 4px 0 rgba(1,1,1,.9)
}
.cssanimation, .cssanimation span {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(40%);
  }
  to { opacity: 1 }
}